


    <button mat-raised-button class="full-width" color="basic" (click)="irCrearCuenta()">Sign up</button>

    <form [formGroup]="loginForm" class="generic-form">
        <mat-form-field class="full-width">
            <mat-label>Email adress</mat-label>
            <input matInput formControlName="email"  type="email" id="emailAdress" name="emailAdress" placeholder="example@gmail.com">
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" id="password" name="password" >
        </mat-form-field>
        
    </form>
    <button class="full-width" mat-raised-button color="accent" (click)="login()">Sign in</button>




