<button (click)="irLogin()">Sign in</button>

<form [formGroup]="registerForm">
    <br>
    <label for="nickname">Nickname</label>
    <br>
    <input formControlName="nickname" autocomplete="false" type="text" id="nickname" name="nickname" placeholder="Nickname">


    <br>
    <label for="name">Name</label>
    <br>
    <input formControlName="name" autocomplete="false" type="text" id="name" name="name" placeholder="Full name">

    <br>
    <label for="emailAdress">Email adress</label>
    <br>
    <input formControlName="email"  type="email" id="emailAdress" name="emailAdress" placeholder="example@gmail.com">
    
    <br>
    <label for="password">Password</label>
    <br>
    <input formControlName="password" type="password" id="password" name="password" >
    
    <br>
</form>
<button (click)="crearCuenta()">Create</button>
