<p>main protected works!</p>
<h2>{{name | titlecase}}</h2>

<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="irCrearMensaje()">
      <mat-icon>edit_square</mat-icon>
      <span>Create Messages</span>
    </button>
    <button mat-menu-item (click)="irMisMensajes()">
      <mat-icon>send</mat-icon>
      <span>My Messages</span>
    </button>
    <button mat-menu-item (click)="irMensajes()">
      <mat-icon>forum</mat-icon>
      <span>See all messages</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
<router-outlet></router-outlet>
